<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="/">Start Bootstrap</a>
    <a class="btn btn-dark" href="/login">Sign Up</a>
  </div>
</nav>